/vendor
/public/media/tu-van
/public/media/album-san-pham
/public/media/bai-viet
/public/media/banner
/public/media/bo-suu-tap
/public/media/cam-nang-lam-dep
/public/media/cham-soc-khach-hang
/public/media/he-thong-chi-nhanh
/public/media/hinh-anh-san-pham
/public/media/lien-he
/public/media/san-pham
/public/media/thuong-hieu
/public/media/trang-tinh
