@media (min-width: 768px) {
    .block-cate-home .box-item-2,
    .block-cate-home .box-item-6 {

    }
    .article-list-item--image {
        height: 100px;
    }
    .blog-list-articles .blog-item-image {
    	width: 20%;
    	float:left;
    }
     #hot-product-slide {
        display: block;
        height: 285px !important;
        overflow: hidden;
    }
    .home--top_panel {
        height: 285px;
        width: 100%;
        overflow: hidden;
    }
    .home--top_panel img {
        width: 100%;
    }
    .home--top_panel--slider {
        padding-right: 0;
    }
    .home--top_panel--slider img {
        height: 285px !important;
        width: 100%;
    }
}
