@media (min-width: 768px) {
    .block-cate-home .box-item-2,
    .block-cate-home .box-item-6 {

    }
    .article-list-item--image {
        height: 100px;
    }
    .blog-list-articles .blog-item-image {
    	width: 20%;
    	float:left;
    }

}
