header {
	padding: 10px 0px 5px;
	background: #fff;
	-webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,.15);
	box-shadow: 0 4px 4px -2px rgba(0,0,0,.15);
	-webkit-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
header:not(.fix-header) .menu-fix-hidden {
	display: none;
}
header.fix-header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	position: fixed;
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
header.fix-header.translateY {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
header.fix-header .menu-fix-hidden {
	display: block;
}

header .input-group-search input {
	border: 1px solid #cc0066;
	border-radius: 0;
}
header .input-group-search .btn-info , header .input-group-search .input-group-btn{
	background: linear-gradient(to right, #cc0099 , #cc0066);
	border: none;
}
header .input-group-search .btn-info {
	padding: 0 20px;
}
.header-right {
	margin-top: 25px;
}
.box-search {
	padding: 6px 0px;
}

.box-search > .box-input > .input-group-search {
	display: inline-block;
	vertical-align: top;
	padding-left: 7px;
	width: 70%;
}
.box-search > .box-input > .input-group-search > .fa-search {
	font-size: 12px;
	color: #CECACA;
}
.group-collection-search {
	width: 23%;
	display: inline-block;
	position:relative;
    overflow: hidden;
}
.group-collection-search:hover {
	background: #fafafa;
}
.group-collection-search > button {
	border: none;
	width: calc(100% - 20px);
	padding: 7px 0px;
	background: none;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.group-collection-search > button > span.caret {
	position: absolute;
	right: 10px;
	top: 15px;
}
.group-collection-search .dropdown-menu {
	left: -2px;
	top: 34px;
	border-radius: 0;
	max-height: 200px;
	overflow: auto;
}
.box-search > .box-input input[type="text"] {
	border: none;
	padding: 8px 0px;
	width: calc(100% - 16px);
	text-indent: 10px;
	font-size: 13px;
}
.box-search > .box-input > button[type="submit"] {
	width: 40px;
	border: none;
	padding: 7px 0px;
	background: linear-gradient(to right, #cc0099 , #cc0066);
	color: #ffffff;
	font-weight:bold;
}
/******************** Box đặt hàng nhanh *********/
.box-check-header {
	border: 1px solid #e60f1e;
border-left: 0px;
position: relative;
width: 145px;
margin-left: auto;
height: 35px;
margin-top: 8px;
}
.box-check-header img {
	position: absolute;
	top: -1px;
	left: -18px;
	width: 35px;
}
.box-check-header .fone-header {
	font-weight: bold;
	color: #e60f1e;
	font-size: 20px;
	margin-left: 25px;
	padding-top: 7px;
	display: inline-block;
}
.box-check-header .fone-checkout-header {
	position: absolute;
	top: -8px;
	left: 20%;
	right: 20%;
	background-color: #fff;
	font-size: 11px;
	color: #e60f1e;
	text-align: center;
}


/******************** cart **********************/
/**
.cart-info {
	width: 125px;
	display: inline-block;
	background : url(//hstatic.net/203/1000094203/1000162309/bg-cart-info.png?v=814) no-repeat #e60f1e;
height: 40px;
position: relative;
top:5px;

}
.cart-info .icon-cart {
	position: absolute;
	top: -13px;
	left: 0;
	right: 0;
	text-align: center;
}
**/

.cart-view{
	position: absolute;
	background: #fff;
	box-shadow: 4px 4px 3px #aaa;
	right:0px;
	z-index: 1;
	width: 250px;
	border: 1px solid #d7d7d7;
	padding: 15px 10px;
	top: 50px;
	display: none;
	z-index: 99999;
}
.cart-view:before{
	float: left;
	width: 17px;
	height: 10px;
	right: 41px;
	content: "";
	position: absolute;
	top: -10px;
	background: url(//hstatic.net/203/1000094203/1000162309/up-arrow.gif?v=814);
}
.cart-view table{
	width: 100%;
}
.cart-view table:not(.table-total):not(.table-clone-cart) {
	max-height: 240px;
	overflow:auto;
	display: inline-block;
}
.cart-view table td.img img{
	width: 70px;
	margin: 5px;
	border: 1px solid #e7e7e7;
max-width: none;
}
.cart-view table td a{
	font-size: 11px;
	float: left;
	width: 100%;
}
.cart-view table td span{
	font-size: 11px;
	float: left;
	width: 100%;
	color: #666;
}
.cart-view .line {
	float: left;
	width: 100%;
	border-top: 1px dashed #dfdfdf;
	margin: 10px 0px;
}
.cart-view a.linktocart:after {
	content: "";
	float: left;
	width: 100%;
	height: 100%;
	border: 1px solid #333;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: -1;
}
.cart-view a.linktocart {
	background: #fff;
	border: 1px solid #333;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 4px;
	position: relative;
	float: left;
	width: 90%;
	white-space: nowrap;
	margin-top: 10px;
}
.cart-view .line {
	float: left;
	width: 100%;
	border-top: 1px dashed #dfdfdf;
	margin: 10px 0px;
}
.cart-view a.linktocheckout:after {
	content: "";
	float: left;
	width: 100%;
	height: 100%;
	border: 1px solid #333;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: -1;
}
.cart-view a.linktocheckout {
	color: #dfdfdf;
	background: #333;
	border: 1px solid #333;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 4px;
	position: relative;
	float: right;
	width: auto;
	width: 90%;
	white-space: nowrap;
	margin-top: 10px;
}
/*H bo sung ***/
.box-search .dropdown-menu>li>a{
	color: #333333;
}

.box-search .dropdown-menu>li>a:hover,.box-search .dropdown-menu>li>a:focus{
	color:#ec5198;

}
/** 02-07 Mia ***/
.col-left{float:left;}
#top-header {
	display: block;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
}

.top-info-phone {
	position: relative;
	text-indent: 5px;
	color: #cc0066;
	font-weight: 700;
}
.top-info-phone span {
	padding-left: 10px;
}
.top-header .fa {
	color: #e60f1e;
}

.top-info-phone span {
	margin: 0 5px;
}

.phone-drop {
	position: relative;
	display: inline-block;
	height: 28px;
	width: 30px;
	float: right;
	line-height: 28px;
	z-index: 10;
}
.phone-drop-bg {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.phone-drop .i-view-more {
	right: 10px;
	z-index: 3;
}

i.i-view-more {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-top: 4px solid #888;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: absolute;
	top: 48%;
	right: 5px;
	margin-left: 2px;
	vertical-align: middle;
}

.info-help-phone {
	display: none;
}
.phone-drop:hover .info-help-phone {
	display: block;
	z-index: 1;
	width: 250px;
	background: #ffffff;
	position: absolute;
	top: calc(100% - 1px);
	left: -10px;
	border: 1px solid #ddd;
	line-height: 25px;
	border-radius: 0 0 4px 4px;
}

.phone-drop:hover .phone-drop-bg {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
}

.info-help-phone span {
	display: block;
	margin: 0;
}

.info-help-phone .fa {
	width: 25px;
	font-size: 1.2em;
}

.info-help-phone img {
	padding: 0 3px;
	vertical-align: sub;
}

.phone-drop:hover .i-view-more {
	border-top-color:#e60f1e;
}
.top-header li {
	padding: 0 15px;
	float: left;
	white-space: nowrap;
}

.policy-link {
	position: relative;
}

.policy-link .fa {
	font-size: 1.3em;
	padding-right: 2px;
}

.policy-info {
	display: none;
}

.policy-link:hover .policy-info {
	display: block;
	z-index: 999;
	position: absolute;
	background: #fff;
	width: 300px;
	line-height: 25px;
	right: -106px;
	top: 27px;
	overflow: hidden;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ddd;
}

.policy-info span {
	display: block;
	margin: 0 10px;
}
.policy-info .fa {
	width: 20px;
	color: #666;
	font-weight: 100;
}
.info-top{
display: inline-block;
    float: right;
}

/**logo -search **/
.col-right{float:right;display:block;}
.logo {
	height: 60px;
	clear: both;
	margin: 0 0 10px 10px;
line-height: 60px;
	display: block;
}
.logo-img img {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.label-search {
	width: 500px;
}
.box-account{
	padding: 8px 0;
	position: relative;
	width: 150px;
	margin: 0 20px 0 0;
}
.box-cart{
padding: 8px 0;
    position: relative;
    width: 150px;
    margin: 0 20px 0 0;
}
.box-cart .fa-shopping-cart{
	font-size: 23px;
	line-height: 21px;
	color: #19abe0;
	float: left;
	text-indent: -2px;
	padding: 4px;
	margin: 0 8px 0 0;
	border: 2px solid #19abe0;
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cart-link {
    display: block;
}

.cart-h {
    display: block;
}

.cart-title {
    font-weight: 700;
    display: block;
line-height: 19px;
}


.account-link {
    display: block;
}

.account-link .fa {
    color: #19abe0;
    float: left;
    padding: 4px;
    margin: 0 8px 0 0;
    border: 2px solid #19abe0;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.account-link-pad {
    display: block;
}

.account-login {
    display: block;
    font-weight: 700;
    white-space: nowrap;
}

.account-link .account-login-more {
    display: block;
    font-size: 12px;
    line-height: 17px;
}
/**drop login **/
.box-account .login-name {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
	color: #19abe0;
}
.box-account {
	position: relative;
}
.box-account .quickview-login {
	position: absolute;
	background: #fff;
	z-index: 10000;
	min-width: 200px;
	border-radius: 5px;
	padding: 10px;
	top: 100%;
	left: -25px;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	transform: scale(1, 0);
	-webkit-transform: scale(1, 0);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	opacity: 0;
	-webkit-box-shadow: 0px 0px 12px #ccc;
	-moz-box-shadow: 0px 0px 12px #ccc;
	box-shadow: 0px 0px 12px #ccc;
}
.box-account .quickview-login{
	padding: 13px 10px 10px 10px;
}

.box-account .quickview-login:before{
	content:'';
	z-index: 10000;
	border-top: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #F8F8F8;
	border-right: 8px solid transparent;
	position: absolute;
	top: -16px;
	left: 35px;
	margin: auto;
	width: 10px;
	display: block!important;
}

.box-account:hover > .quickview-login{
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	opacity: 1;
}

.box-account #customer-login label.icon-field {
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0px;
}
.box-account #customer-login input {
	width: 100%;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #ddd;
	font-size: 13px;
	outline: none;
	margin-bottom: 10px;
}
.box-account #register input {
	display: block;
	margin: 5px 0px;
	height: 30px;
	padding-left: 10px;
	max-width: 100%;
	border: 1px solid #8DB98B;
}
.box-account .btn-enter,.box-account  .reg-btn {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	background: #19abe0;
	font-size: 13px !important;
	float: left;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	padding: 3px 5px;
	border-radius: 3px;
}
.box-account .reg-btn {
	display: block;
	padding: 6px 12px;
	margin: 0 auto;
	float: none;
	margin-top: 10px;
}
.box-account .btn-enter:hover,.box-account .reg-btn:hover{
	background: #fff;
	color: #19abe0;
	border-color: #19abe0;
}
.box-account .accounttype h2 {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
.box-account .req_pass a {
	color: #315399;
	display: inline-block;
	text-transform: none;
	min-height: auto;
}
.box-account a.reco {
	display: inline-block;
	min-height: auto;
	font-size: 12px;
	text-transform: none;
	color: #315399;
	padding: 7px 5px;
}
.box-account .req_pass {
	display: block;
	width: 100%;
	margin-top: 5px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	font-weight: normal;
	line-height: 1.5;
}
req_pass .detail-item a {
	min-height: auto;
	line-height: 1.5;
	color: #000;
	text-transform: none;
	font-size: 13px;
	font-weight: 300;
}

/** slide  **/
/**text-overflow: ellipsis two row$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;
height: $font-size*$line-height*$lines-to-show;  Fallback for non-webkit
**/

#slider .slider-detail .title-image,#slider .slider-detail .description-image{
 display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;

  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}
span.cart-number {
    position: absolute;
    top: -8px;
    background-color: #cc0099;
    color: #fff;
    font-size: 10px;
    text-align: center;
    min-width: 18px;
    height: 15px;
    line-height: 15px;
    border-radius: 0;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -webkit-border-radius: 0;
    -o-border-radius: 20px;
}

.cart-info {
    position: relative;
}
@media (min-width: 768px) {
	.box-account, .box-cart {
		width: 40px;
		margin: 0 20px 0 0;
	}
    #slider .slider-thumb{
        width:74px;
    }
    header .info-list li {
	    margin-left: 0px;
	}
	header .info-list li {
	    padding-left: 30px;
	    background: url(img/icon-cart.png) left no-repeat;
	}
	header .info-list li.user {
		background: url(img/icon-user.png) left no-repeat;
	    padding-left: 35px;
	}
	header .info-list li.delivery {
		background: url(img/icon-delivery.png) left no-repeat;
	    padding-left: 50px;
	}
	span.cart-number {
		left: 40px;
	}
}
@media (min-width: 992px){
	.box-account, .box-cart {
		width: 40px;
	}
    #slider .slider-thumb{
        width:73px;
    }
}
@media (min-width: 1200px){
	.label-search {
		width: 100%;
	}
	.box-cart{
		width: 150px;
	}
	.box-account{
        width: 170px;
	}
	#slider .slider-thumb{
		width:250px;
	}
	#slider .slider-detail{
		width: 165px;
	}
	header .info-list li {
	    display: inline-block;
	    text-align: left;
	    padding: 0 0 0 45px;
	    position: relative;
	    margin-left: 60px;
	}
	span.cart-number {
		left: 15px;
	}
	header .info-list li.cart {
		background: url(img/icon-cart.png) left no-repeat;
	}
	header .info-list li.delivery {
		background: url(img/icon-delivery.png) left no-repeat;
		padding-left: 70px;
	}
	header .info-list li.user {
		background: url(img/icon-user.png) left no-repeat;
		padding-left: 60px;
	}
}
